<template>
  <DialogComp :title="title" :flag="true" :changeFlag="props.changeCfg">
    <template v-slot:content>
      <div class="row items-center q-mb-lg">
        <label class="col-2">
          <span class="text-red-7 q-mr-xs">*</span>
          {{ $t("authUser.name") }}
        </label>
        <q-input outlined dense class="col-10" v-model="data.form.display_name" required />
      </div>
      <div class="row items-center q-mb-lg">
        <label class="col-2">
          <span class="text-red-7 q-mr-xs">*</span>
          {{ $t("authUser.username") }}
        </label>
        <q-input outlined dense class="col-10" v-model="data.form.account" required />
      </div>
      <div class="row items-center q-mb-lg">
        <label class="col-2">
          <span class="text-red-7 q-mr-xs">*</span>
          {{ $t("authUser.password") }}
        </label>
        <q-input outlined dense class="col-10" v-model="data.form.password" required />
      </div>
      <div class="row items-center q-mb-lg">
        <label class="col-2">
          <span class="text-red-7 q-mr-xs">*</span>
          {{ $t("authUser.password") }}
        </label>
        <q-input outlined dense class="col-10" v-model="data.form.password_confirmation" required />
      </div>
      <div class="row items-center q-mb-lg">
        <label class="col-2">
          <span class="text-red-7 q-mr-xs">*</span>
          {{ $t("authUser.role") }}
        </label>
        <q-select
          label="請選擇"
          outlined
          dense
          class="col-3"
          option-value="id"
          option-label="name"
          map-options
          emit-value
          :options="props.roleList"
          v-model="data.form.role_id"
        />
      </div>
      <div class="row items-center q-mb-lg">
        <label class="col-2">
          <span class="text-red-7 q-mr-xs">*</span>
          {{ $t("authUser.email") }}
        </label>
        <q-input outlined dense class="col-10" v-model="data.form.email" required />
      </div>
      <div class="row items-center q-mb-lg">
        <label class="col-2">
          <span class="text-red-7 q-mr-xs">*</span>
          {{ $t("authUser.state") }}
        </label>
        <q-toggle v-model="data.form.status" color="primary" />
      </div>

      <!-- <div class="row items-center q-mb-lg">
        <label class="col-2">
          <span class="text-red-7 q-mr-xs">*</span>
          Permission
        </label>
        <q-tree
          no-connectors
          default-expand-all
          :nodes="data.permissionlist"
          node-key="id"
          label-key="path"
          children-key="sub"
          tick-strategy="leaf"
          :duration="300"
          color="grey"
          text-color="grey"
          class="text-weight-bold"
          v-model:ticked="data.form.authority"
        ></q-tree>
      </div>-->
    </template>
    <template v-slot:footer>
      <q-btn class="q-mr-md no-box-shadow" color="negative" @click="props.changeCfg()">
        <span>{{ $t("system.cancel") }}</span>
      </q-btn>
      <q-btn class="no-box-shadow" color="positive" @click="funcSubmit()">
        <span>{{ $t("system.sure") }}</span>
      </q-btn>
    </template>
  </DialogComp>
</template>
<script>
import { ref, reactive, defineComponent } from 'vue'
import { useI18n } from 'vue-i18n'
import DialogComp from '@components/Dialog/Style1.vue'
export default defineComponent({
  components: {
    DialogComp,
  },
  props: {
    changeCfg: {
      type: Function,
      default: null,
    },
    addInfo: {
      type: Function,
      default: null,
    },
    refresh: {
      type: Function,
      default: null,
    },
    roleList: {
      type: Object,
      default: () => {},
    },
  },
  setup(props) {
    const { t } = useI18n()
    const title = ref(t('system.add'))
    const data = reactive({
      form: {
        account: '',
        email: '',
        password: '',
        password_confirmation: '',
        display_name: '',
        status: '',
        role_id: '',
      },
      permissionlist: [
        {
          id: 1,
          path: '權限',
          icon: 'person',
          sub: [
            {
              id: 2,
              path: '帳戶權限',
              icon: null,
            },
            {
              id: 3,
              path: '角色權限',
              icon: null,
            },
          ],
        },
      ],
    })
    // 傳送的動作
    async function funcSubmit() {
      let res = await props.addInfo(data.form)
      if (res.code === 200) {
        console.log(res)
        props.refresh()
      }
    }
    return { props, title, data, funcSubmit }
  },
})
</script>
