<template>
  <CopyMd />
</template>

<script>
import { defineComponent } from 'vue'
import CopyMd from '@modules/Copy/index.vue'
export default defineComponent({
  name: 'PageCopy',
  components: {
    CopyMd,
  },
})
</script>
