<template>
  <LabelMd />
</template>

<script>
import { defineComponent } from 'vue'
import LabelMd from '@modules/Label/index.vue'
export default defineComponent({
  name: 'PageLabel',
  components: {
    LabelMd,
  },
})
</script>
