<template>
  <LoginMd />
</template>

<script>
import { defineComponent } from 'vue'
import LoginMd from '@modules/Login/index.vue'
export default defineComponent({
  name: 'PageLogin',
  components: {
    LoginMd,
  },
})
</script>
