<template>
  <QuestionMd />
</template>

<script>
import { defineComponent } from "vue";
import QuestionMd from "@modules/Question/index.vue";
export default defineComponent({
  name: "PageQuestion",
  components: {
    QuestionMd,
  },
});
</script>
