<template>
  <div class="tag q-py-xs flex">
    <div
      v-for="(item,key) in tags"
      :key="key"
      class="q-mr-xs q-pa-sm box"
      :class="{ active: item.path === $route.path }"
      @click="linkPath(item)"
    >
      <q-icon name="circle" size="8px" />
      <span class="q-mx-xs">{{$t('menu.' + item.tag )}}</span>
      <q-icon v-if="key !== 0" name="close" size="8px" @click.stop="deleteTag(item)" />
    </div>
  </div>
</template>
<script>
import { ref, watch, onMounted, defineComponent } from 'vue'
import { useRouter, useRoute } from 'vue-router'
import { setLocalStorage, getLocalStorage } from '@utils/method.js'
import routes from '@router/routes'
export default defineComponent({
  setup() {
    const tags = ref([
      {
        tag: 'dashboard',
        path: '/dashboard',
      },
    ])
    const router = useRouter()
    const route = useRoute()
    watch(
      () => route.path,
      async (newData) => {
        if (routes.some((item) => item.path === newData)) {
          return
        }
        setTags()
      }
    )
    onMounted(() => {
      if (getLocalStorage('tagsview') === null) {
        setLocalStorage('tagsview', tags)
      }
      setTags()
    })
    function setTags() {
      let routerAry = route.path.substring(1).split('/')
      let curRouter = routerAry[routerAry.length - 1]
      if (tags.value.some((item) => item.tag === curRouter)) {
        return
      } else {
        let obj = {
          tag: curRouter,
          path: route.path,
        }
        tags.value.push(obj)
        setLocalStorage('tagsview', tags)
      }
    }
    function deleteTag(tagItem) {
      let deleteIndex = tags.value.findIndex(function (item) {
        return item.path === tagItem.path
      })
      if (deleteIndex !== -1) tags.value.splice(deleteIndex, 1)
      this.linkPath(tags.value[tags.value.length - 1])
    }
    function linkPath(item) {
      router.push({ path: item.path })
    }
    return { tags, linkPath, deleteTag }
  },
})
</script>

<style lang="scss" scoped>
$grey: $grey; //border
$white: #fff;
.tag {
  border-bottom: 1px solid $grey;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 12%), 0 0 3px 0 rgb(0 0 0 / 4%);
  overflow-x: auto;
  flex-wrap: nowrap;
  width: 100%;
  background: $white;
  margin: 0;
  .box {
    display: flex;
    align-items: center;
    border: 1px solid $grey;
    cursor: pointer;
    min-width: 75px;
    .q-icon {
      display: none;
    }
    &.active {
      color: $white;
      background: $primary;
      .q-icon {
        display: inline;
      }
    }
  }
}
.tag {
  &::-webkit-scrollbar {
    height: 0.5em;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba($grey, $alpha: 0.5);
    border-radius: 20px;
  }
}
</style>