<template>
  <q-dialog v-model="dialogFlag" persistent>
    <q-card class="card add_card">
      <q-bar class="bar">
        <div class="text">{{title}}</div>
        <q-space></q-space>
        <q-btn dense flat icon="close" class="text-white" @click="changeFlag()">
          <q-tooltip>Close</q-tooltip>
        </q-btn>
      </q-bar>
      <div class="q-pa-md">
        <slot name="content"></slot>
      </div>
      <div class="flex justify-center q-mb-md q-pt-md line">
        <slot name="footer"></slot>
      </div>
    </q-card>
  </q-dialog>
</template>
<script>
import { defineComponent } from 'vue'
export default defineComponent({
  props: {
    title: {
      type: String,
      default: function () {
        return ''
      },
    },
    flag: {
      type: Boolean,
      default: function () {
        return false
      },
    },
    changeFlag: {
      type: Function,
      default: null,
    },
  },
  computed: {
    dialogFlag() {
      return this.flag
    },
  },
})
</script>
<style lang="scss" scoped>
.card {
  width: 900px;
  max-width: 900px;
  .bar {
    height: 50px;
    background-color: $primary;
    color: white;
    .text {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .line {
    border-top: 1px solid rgba(0, 0, 0, 0.24);
  }
}
.add_card {
  .card {
    width: 550px;
  }
}
.edit_card {
  .card {
    width: 550px;
  }
}
.alert_card {
  .card {
    width: 1200px;
    max-width: 1200px;
  }
  .line {
    display: none;
  }
}
</style>