<template>
  <Form class="wrap" @submit="fcLogin(loginData)" v-slot="{ errors }">
    <div class="box">
      <h2>Login</h2>
      <div class="inputBx">
        <Field name="username" v-model="loginData.primary" rules="required" placeholder="username" />
        <label for>Username</label>
        <span class="offset-sm-2 formError">{{ errors.username }}</span>
      </div>
      <div class="inputBx">
        <Field
          name="password"
          v-model="loginData.password"
          rules="required"
          placeholder="password"
        />
        <label for>Password</label>
        <span class="offset-sm-2 formError">{{ errors.password }}</span>
      </div>
      <input type="submit" value="submit" />
    </div>
  </Form>
</template>

<script>
import { reactive, defineComponent } from 'vue'
import { Form, Field } from 'vee-validate'
export default defineComponent({
  components: {
    Form,
    Field,
  },
  props: {
    fcLogin: {
      type: Function,
      default: null,
    },
  },
  setup() {
    const loginData = reactive({
      primary: '',
      password: '',
    })
    return { loginData }
  },
})
</script>
<style lang="scss" scoped>
$white: #fff;
$black: #000;
.wrap {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  font-family: sans-serif;
  background: url(https://picsum.photos/1920/1080/?random=1);
  background-size: cover;
  .box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 70px 40px;
    background: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    h2 {
      margin: 0 0 30px;
      padding: 0;
      color: #fff;
      text-align: center;
      font-size: 24px;
    }
    .inputBx {
      position: relative;
      input {
        width: 100%;
        padding: 0 0;
        font-size: 16px;
        color: #fff;
        background: transparent;
        border: none;
        border-bottom: 1px solid #fff;
        margin-bottom: 30px;
        outline: none;
        letter-spacing: 2px;
        line-height: 40px;
        &:-webkit-autofill {
          -webkit-box-shadow: 0 0 0 20px rgba(0, 0, 0, 1) inset !important;
          -webkit-text-fill-color: #ffffff;
        }
        &:focus ~ label {
          top: -18px;
          font-size: 14px;
          color: #03a9f4;
        }
      }

      label {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 0;
        font-size: 16px;
        color: transparent;
        pointer-events: none;
        transition: 0.5s;
        letter-spacing: 2px;
      }
    }
    input[type='submit'] {
      background: #03a9f4;
      color: #fff;
      border-radius: 5px;
      padding: 10px 20px;
      outline: none;
      border: none;
      cursor: pointer;
      transition: 0.35s ease;
      margin-top: 10px;
      &:hover {
        color: $black;
        transition: 0.35s ease;
      }
    }
  }
}
.error {
  color: red;
  position: absolute;
  bottom: 10px;
  left: 0;
}
@media (max-width: 768px) {
  .wrap {
    .box {
      width: 350px;
    }
  }
}
</style>
