<template>
  <DialogComp :flag="true" :changeFlag="changeFlag" class="alert_card">
    <template v-slot:content>
      <q-btn class="state_btn" color="primary">{{ $t('question.state') }}</q-btn>
      <TableComp :columns="columns" :rows="rows"></TableComp>
      <div class="pagination">
        <div class="page_select">
          顯示
          <select>
            <option value="1">1</option>
            <option value="10">10</option>
          </select>筆
        </div>
        <div class="page">1</div>
      </div>
    </template>
  </DialogComp>
</template>
<script>
import { defineComponent } from 'vue'
import Mixin from '../mixin'
import TableMixin from '@mixins/table.js'
import TableComp from '@components/Table/Style1.vue'
import DialogComp from '@components/Dialog/Style1.vue'
export default defineComponent({
  components: {
    DialogComp,
    TableComp,
  },
  mixins: [Mixin, TableMixin],
  props: {
    changeFlag: {
      type: Function,
      default: null,
    },
  },
  data() {
    return {
      columns: [
        {
          name: 'mangage',
          label: this.$t('question.mangage'),
          field: 'mangage',
          align: 'center',
          sortable: true,
        },
        {
          name: 'time',
          label: this.$t('question.time'),
          field: 'time',
          align: 'center',
        },
        {
          name: 'ip',
          label: this.$t('question.ip'),
          field: 'ip',
          align: 'center',
        },
        {
          name: 'explanation',
          label: this.$t('question.explanation'),
          field: 'explanation',
          align: 'center',
        },
      ],
      rows: [
        {
          mangage: 6100326568487,
          time: '毛濤',
          ip: 'HBCU3',
          explanation: 1,
        },
        {
          mangage: 153215613461,
          time: '潭平',
          ip: 'HBCU3',
          explanation: 9.0,
        },
        {
          mangage: 153215613462,
          time: '周竟',
          ip: 'HBCU3',
          explanation: 16.0,
        },
        {
          mangage: 153215613463,
          time: '博平',
          ip: 'HBCU3',
          explanation: 3.7,
        },
        {
          mangage: 153215613464,
          time: '彭用',
          ip: 'HBCU3',
          explanation: 16.0,
        },
        {
          mangage: 153215613465,
          time: '李羅',
          ip: 'HBCU3',
          explanation: 0.0,
        },
        {
          mangage: 153215613466,
          time: '張鎮',
          ip: 'HBCU3',
          explanation: 0.2,
        },
        {
          mangage: 153215613467,
          time: '葉問',
          ip: 'HBCU3',
          explanation: 3.2,
        },
        {
          mangage: 153215613468,
          time: '葉準',
          ip: 'HBCU3',
          explanation: 25.0,
        },
        {
          mangage: 153215613469,
          time: '永春',
          ip: 'HBCU3',
          explanation: 26.0,
        },
        {
          mangage: 153215613453,
          time: '潭平',
          ip: 'HBCU3',
          explanation: 25.0,
        },
        {
          mangage: 153215613450,
          time: '葉正',
          ip: 'HBCU3',
          explanation: 26.0,
        },
        {
          mangage: 153215613473,
          time: '泰森',
          ip: 'HBCU3',
          explanation: 25.0,
        },
        {
          mangage: 153215613499,
          time: '西瓜',
          ip: 'HBCU3',
          explanation: 26.0,
        },
      ],
    }
  },
})
</script>
<style lang="scss" scoped>
.state_btn {
  margin-bottom: 30px;
}
.line {
  display: none;
}
.pagination {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 20px;
  .page_select {
    select {
      margin: 0px;
      border: none;
      outline: none;
    }
  }

  .page {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: $primary;
    padding: 3px 30px;
    color: #ffffff;
  }
}
</style>