<!-- @format -->
<template>
  <LoginComp :fcLogin="fcLogin" />
</template>

<script>
import { onMounted, defineComponent } from 'vue'
import { createNamespacedHelpers } from 'vuex-composition-helpers'
const { useActions } = createNamespacedHelpers('crmLogin')
import LoginComp from '@components/Login/Style2.vue'
import { swal } from 'boot/swalert'
import { useRouter } from 'vue-router'
import { setLocalStorage, removeAllLocalStorage } from '@utils/method.js'
export default defineComponent({
  components: {
    LoginComp,
  },
  setup() {
    const router = useRouter()
    const { actionLogin } = useActions(['actionLogin'])
    onMounted(() => {
      removeAllLocalStorage()
    })
    async function fcLogin(postData) {
      let res = await actionLogin(postData)
      if (res.code === 200) {
        await setLocalStorage('access_token', res.data.token)
        await router.push({ path: '/' })
      } else {
        swal.fire({
          icon: 'warning',
          text: res.message,
        })
      }
    }
    return { fcLogin }
  },
})
</script>
